<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">

<title>GOrtiz</title>
</head>
<body>

		<header th:replace="layout/layout :: header"></header>
			<!--  -->
				<div class="container py-4">Hola mundo !!!!</div>
				<table class="table">
					<thead>
									<tr>
																<th scope="col">#</th>
																<th scope="col">First</th>
																<th scope="col">Last</th>
																<th scope="col">Handle</th>
												</tr>
								</thead>
								<tbody>
												<tr>
																<th scope="row">1</th>
																<td>Mark</td>
																<td>Otto</td>
																<td>@mdo</td>
												</tr>
												<tr>
																<th scope="row">2</th>
																<td>Jacob</td>
																<td>Thornton</td>
																<td>@fat</td>
												</tr>
												<tr>
																<th scope="row">3</th>
																<td>Larry</td>
																<td>the Bird</td>
																<td>@twitter</td>
												</tr>
								</tbody>							
				</table>


				<!--  -->
		

				<footer th:replace="layout/layout :: footer" class="footer"></footer>

</body>
</html>